<div class="main__container">
  <header class="header--small">
    <h1 class="header--small__text">members</h1>

    <div class="header--small__links-box">
      <a class="btn" href="/members">List all members</a>
      <a class="btn" href="/members/new">new member</a>
      <a class="btn" href="/members/deactivated">deactivated members</a>
    </div>

  </header>

  <div class="main__view">

    <table class="results-table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>membership status</th>
        <th>activation status</th>
        <th>actions</th>
      </tr>

      <% for member in @members_deactivated %>
        <tr>
          <td><%= member.id%></td>
          <td><%= member.member_name%></td>
          <td><%= member.member_surname%></td>
          <td><%= member.membership_status%></td>
          <td><%= member.member_activation_status%></td>

          <td>
          <div class="results-table__links-box">
            <a class="btn-tables results-table__links-box__link" href="#">Edit</a><a class="btn-tables results-table__links-box__link" href="#">Delete</a>
          </div>
          </td>



        </tr>
      <% end %>
    </table>

  </div>
