<h1>memberS of zeN gyM</h1>
<hr>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>membership status</th>
    <th>activation status</th>
    <th>actions</th>
  </tr>


  <% for member in @members %>
  <tr>
    <td><%= member.id%></td>
    <td><%= member.member_name%></td>
    <td><%= member.member_surname%></td>
    <td><%= member.membership_status%></td>
    <td><%= member.member_activation_status%></td>
    <td><a href="/bookings/new/members_to_classes/<%=member.id%>">Book a class</a> <a href="#">Edit Info</a></td>
  </tr>
  <% end %>
</table>
