<div class="main__container">
  <header class="header--small">
    <h1 class="header--small__text">members</h1>

    <div class="header--small__links-box">
      <a class="btn" href="/members">all members</a>
      <a class="btn" href="/members/new">new member</a>
      <a class="btn" href="/members/deactivated">deactivated members</a>
    </div>

  </header>

  <div class="main__view">
    <h1>deactivated members</h1>
    <table class="results-table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>membership status</th>
        <th>activation status</th>
        <th>actions</th>
      </tr>

      <% for member in @members_deactivated %>
        <tr>
          <td><%= member.id%></td>
          <td><%= member.member_name%></td>
          <td><%= member.member_surname%></td>
          <td><%= member.membership_status%></td>
          <td><%= member.member_activation_status%></td>

          <td>
          <div class="results-table__links-box">

            <form class = "form-btn" action="/members/<%= member.id %>/activate" method="post">
            <input class="btn-form btn-tables" type='submit' value="activate">
            </form>

            <form class = "form-btn" action="/members/<%= member.id %>/delete" method="post">
            <input class="btn-form btn-tables" type='submit' value="delete">
            </form>

          </div>
          </td>



        </tr>
      <% end %>
    </table>

  </div>
