<h1>Member's info:</h1>
<p><%= @member.member_name %> <%= @member.member_surname %> (id: <%= @member.id %>)</p>
<p>Membership type: <%= @member.membership_status %></p>
<p>Active/Deactivated: <%= @member.member_activation_status %></p>
