
<h1>Select classes for <%=@member.member_name%></h1>


<h1>Select a class:</h1>



<form method="post" action="/bookings/members">


  <label for="name-select">Name:</label>
  <select id="name-select" name="member_id">
      <option value="<%=@member.id%>"> <%=@member.member_name%> </option>
  </select>

  <label for="surname-select">Surname:</label>
  <select id="surname-select">
      <option value=""> <%=@member.member_surname%> </option>
  </select>


  <label for="surname-select">Membership status:</label>
  <select id="surname-select">
      <option value=""> <%=@member.membership_status%> </option>
  </select>



  <label for="activity-select">Select Class:</label>
  <select id="activity-select" name="class_id">


    <%activities_hash = @activities.map {|act| [act.id, act.activity_name]}.to_h%>

    <%for cls in @classes%>

      <option value="<%=cls.id%>"> <%=activities_hash[cls.activity_id]%> -- <%=cls.class_time%></option>

    <% end %>

  </select>


  <input type="submit"  value="Submit Member">
</form>
